services:
  fastapi:
    ### Add build context instruction here
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:8000/healthz || (echo 'Healthcheck failed' && exit 1)"]
      interval: 10s
      timeout: 60s
      retries: 5
    ### Add environment variables here

    ### Add depends postgres here

    ### expose ports here
    volumes:
      - ./cc_compose:/app/cc_compose:Z
      - ./static:/app/static:Z
    stdin_open: true
    tty: true

  postgres:
    image: postgres:15
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: tasksdb
    volumes:
      - pgdata:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - fastapi

volumes:
  pgdata:
